1.	streamlit 
2.	pandas 
3.	numpy 
4.	from sklearn.model_selection import train_test_split
5.	from sklearn.tree import DecisionTreeClassifier
6.	from sklearn.preprocessing import LabelEncoder
7.	warnings
